*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.center-blue {
    padding: 20px;
    background-color: #00adff ;
    color: white;
}
.center-white {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 16px;
}
